%h1 New Event
= form_for @event do |f|
  %p
    = f.label           :title
    = f.text_field      :title
  %p
    = f.label           :start_time    
    = f.datetime_select :start_time, :ampm => true, :minute_step => 15
  %p
    = f.label           :end_time    
    = f.datetime_select :end_time, :ampm => true, :minute_step => 15
  %p
    = f.label           :description
    = f.text_area       :description, size: '50x10'
  %p
    =f.submit "Create", class: 'button'
