= simple_form_for @event, html: { class: 'form-horizontal'} do |f|
  = f.input         :title
  = f.input         :start_time    
  = f.input         :end_time
  = f.input         :location
  = f.input         :address_line_1
  = f.input         :address_line_2
  = f.input         :city
  = f.input         :state
  = f.input         :zip_code
  = f.input         :contact_person
  = f.input         :event_email
  = f.input         :phone_number

  .field
    = f.label       :cover_image
    = f.file_field  :cover_image  
  = f.input         :description, input_html: {rows: 10, cols: 60}
  = f.button        :submit
