<h1>Sign Up</h1>
<h2>Be a philanthropist today</h2>

<%= form_for @philanthropist, url: { action: 'create' } do |f| %>
  <%= f.label           :name %>
  <%= f.text_field      :name %>
  <br/>
  <%= f.label           :login %>
  <%= f.text_field      :login %>
  <br/>
  <%= f.label           :email %>
  <%= f.text_field      :email %>
  <br/>
  <%= f.label           :password %>
  <%= f.password_field  :password %>
  <br/>
  <%= f.label           :password_confirmation %>
  <%= f.password_field  :password_confirmation %>
  <br/>

  <%= f.submit 'Register' %>
<% end %>
