!!!
%html
  %head
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application",               "data-turbolinks-track" => true
    = csrf_meta_tags
    %title
      Cherry Ivy - Be a Philanthropist Today
  %body
    .container-fluid
      .navbar
        .navbar-inner
          %ul.nav.navbar-nav.pull-left
            %li
              = link_to 'ci', root_path, { class: 'brand' }
            %li
              = link_to 'new charity', new_charity_path
            %li                
              = link_to 'new event', new_event_path
          %p.navbar-text
            = current_user ? user_slug : login_slug
      - flash.each do |name, msg|
        = flash_message name, msg
      = yield
