<!DOCTYPE html>
<html>
<head>
  <title>CherryIvy</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "custom", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- navigation bar section -->
<div class="menu1">
	<div class="page_width1">
		<a href="#">
		<div id= "logo_frame">
			<div id="logo">
				ci
			</div>
		</div>
		</a>
		<form>
			<input type="submit" id="nav_button" value="">
		</form>
		<ul id="pages">
			<a href="#"><li class="page_name">Profile</li></a>
			<a href="#"><li class="page_name">Activity</li></a>
			<%= link_to "Sign Up", signup_path, class: 'page_name'  %>
		</ul>
		<form id="search">
			<input name="search" type="text" value="Search" class="search-input" onfocus="if(this.value == 'Search') 	{this.value=''}" onblur="if(this.value == ''){this.value ='Search'}"/>
		</form>
	</div>
</div>
<!-- end of navigation bar -->
<div></div>

<%= yield %>

</body>
</html>
