!!!
%html
  %head
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag    "custom",      media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application",               "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    / navigation bar
    .menu1
      .page_width1
        %a{ href: root_path }
          #logo_frame
            #logo
              ci
        %ul#pages
          %li
            = current_user ? current_user.login : "#{link_to "Sign Up", signup_path, class: 'page_name'} / #{link_to "Login",   login_path,  class: 'page_name'}"
    / end navigation bar
    = yield
